{% for product in products %}
<div class="flat-blog-grid">                               
    <div class="grid-post style-post">
        <div class="img-box">
            <div class="media">
                <img src="{{product.Image.url}}" alt="images">
            </div>
        </div>                                      
        <div class="content">
            <h3 class="title-item">{{product.name}}</h3>
            <p>{{product.description|slice:":100"}}....
                <h5>To access the appropriate content please confirm if you are </h5>
            </p>
            
            <div class="read-more link-style-3">
                
                <div class="row">
                    <div class="col-lg-5">
                        <a href="{% url 'innova:productDetails' productcategory=product.product_category product=product.name %}">a member of the public</a>
                    </div>
                    <div class="col-lg-2">
                        <p> or </p>
                    </div>
                    <div class="col-lg-5">
                        <a href="{% url 'innova:patientsArea' product=product.name %}">a healthcare professional</a>
                    </div>
                </div>
            </div>
        </div>
    </div>                                                      
</div> 
{% endfor %}                 
<div class="themesflat-pagination clearfix">
    {% if products.has_other_pages %}

        <ul>
            {% if products.has_previous %}
            <li>
                <a class="page-numbers prev-style" onclick="applyPaginator({{ products.previous_page_number }})" tabindex="-1">Prev</a>
            </li>
            {% endif %}
            <li>
                <a class="page-numbers" onclick="applyPaginator({{ products.number }})">{{ products.number }}</a>
            </li>
            {% if products.has_next %}
            <li>
                <a class="page-numbers next-style" onclick="applyPaginator({{ products.next_page_number }})">Next</a>
            </li>
            {% endif %}
        </ul>

    {% endif %}
</div>     