{% extends 'mainTemplates/mainPage.html' %}
{% load static %}
{% load humanize %}

{% block section1 %}
    <!-- slider -->
    <section class="slider home3">
        <div class="elip-header4 animate-rotate">
            <img src="{% static 'assets/images/mark-page/Innova.png' %}" class="img-max_width" alt="img">
        </div>
        <!-- <div class="elip-header5 animate-up">
            <img src="{% static 'assets/images/mark-page/health.png' %}" alt="img">
        </div> -->
        <div class="container-fuild">
            <div class="swiper-container mainslider">                            
                <div class="swiper-wrapper">
                    {% for slide in slideData %}
                        <div class="swiper-slide">
                            <div class="flat-slider">  <div class="overlay-slider style"></div>
                            <div class="sld-img"><img src="{{slide.image.url}}" alt=""></div>
                                <div class="content col-md-6 col-sm-12">
                                    <div class="heading">
                                        <h1>{{slide.subject}}</h1>
                                        <p>{{slide.content }}
                                        </p>
                                    </div>
                                    <!-- <div class="button-slider">
                                        <a href="#" class="button btn-style3 btn-1"><span>Discover More </span></a>
                                    </div> -->
                                </div>
                            </div>                           
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>               
        <div class="button-custom-slider">
            <div class="swiper-button-next button-slide-custom-next"></div>
            <div class="swiper-button-prev button-slide-custom-prev"></div>
        </div>
    </section>
{% endblock %}



{% block section2 %}
<!-- flat trusted -->
<section class="tf-space flat-trusted">
    <div class="container">
        <div class="row">
            {% for partner in partnerData %}
            <div class="col-lg-6 col-md-5 wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="800ms">
                <div class="media-box">
                    <div class="mediafull">
                        <img src="{{partner.Image.url}}" alt="images">                                                                   
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 wow fadeInRight" data-wow-delay="0ms" data-wow-duration="800ms">
                <div class="trusted-heading-without-marge wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1100ms">
                    <h2 class="tf-title">Our <span class="text-color-3 style-title">Partner</span></h2>
                </div>
                    <!-- <h3 class="text-color-3">At Innova,</h3> -->
                    <p>{{partner.description|linebreaks}}</p> 
                    <div class="img-title50 wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1100ms" style="padding-top: 10px;">
                        <a href="{{partner.website}}">
                            <img src="{{partner.logo.url}}" alt="images">   
                        </a>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block section3 %}
<!-- flat brand -->
<section class="flat-brand">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-heading wow fadeInDown" data-wow-delay="0ms" data-wow-duration="700ms">
                    <h2 class="tf-title text-color-1">Products</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="brand-slider">
                    <div class="swiper-container carousel-4">
                        <div class="swiper-wrapper">
                            
                            {% for product in products %}
                                <div class="swiper-slide wow zoomInLeft" style="width: 180px;height: 270px;" data-wow-delay="0ms" data-wow-duration="1100ms">
                                    <div class="slogan-logo" style="height: 100%;">
                                        <a href="{% url 'innova:patientsArea' product=product.name %}">
                                            <img src="{{product.Image.url}}" alt="images" style="height: 85%;">
                                        </a>
                                        <div class="content-white"> 
                                            <h3 >{{product.name}}</h3>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block section4 %}
<section class="tf-space flat-blog-grid home03">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-heading wow fadeInDown" data-wow-delay="0ms" data-wow-duration="500ms">
                    <h2 class="tf-title">Company <span class="text-color-3 style-title">Blog</span></h2>
                </div>
            </div>
            {% for news in newsData %}
            <div class="col-lg-4 col-md-4">
                <div class="grid-post">
                    <div class="media height-150 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img src="{{news.image.url}}" alt="images">
                    </div>
                    <div class="content">
                        <h3 class="title-item"><a href="blog-details.html">{{news.subject}}</a></h3>
                        <p>{{news.content}}</p>
                    </div>
                </div>
            </div>  
            {% endfor %}                   
        </div>
    </div>
</section>

<!-- flat service -->
<!-- <section class="tf-space flat-service home2 home3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="service-heading wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <h2 class="tf-title">Company <span class="text-color-3 style-title">Blog</span></h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="swiper-container service-slider carousel-4">
                    <div class="swiper-wrapper">
                        {% for news in newsData %}
                            <div class="swiper-slide service-post post wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="media">
                                    <img src="{{news.image.url}}" alt="images">                                
                                </div>
                                <div class="content">                                  
                                    <h3>{{news.subject}}</h3> 
                                    <div class="tf-progress"></div> 
                                    <p class="p-hover">{{news.content|slice:":50" }}...</p> 
                                    <ul>
                                        <li><a href="{% url 'innova:newsDetails' id=news.id %}">Read More</a></li> 
                                    </ul>                                 
                                </div>
                            </div>
                        {% endfor %}
                    </div>                                                               
                </div>
            </div>     
        </div>
    </div>
</section> -->
{% endblock %}

{% block section5 %}
<!-- flat servece -->
<section class="tf-space flat-servece">
    <div class="overlay-page"></div>
</section>

<!-- flat team -->
<section class="flat-team flat-blog-grid home3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-heading wow fadeInDown" data-wow-delay="0ms" data-wow-duration="500ms">
                    <h2 class="tf-title text-color-1">Management Team</h2>
                </div>
            </div> 
            <div class="col-lg-1">
            </div>     
                     
            {% for board in boardMember %}
            <div class="col-lg-2 col-md-6">
                <div class="team-box grid-post wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="media">
                        <img src="{{board.Image.url}}" alt="images">                                
                    </div>
                    <div class="content"> 
                        <div class="sub-title-content">{{board.Position}}</div>                                
                        <h3 ><a href="{% url 'innova:ourboardhash' hash=board.id %}">{{board.name}}</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}