{% load static %}
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Innova</title>

    <meta name="author" content="innova@innovahealthcare.net">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css'%}">

    <!-- Swiper slide -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/swiper-bundle.min.css'%}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="{% static 'assets/icon/Favicon.png'%}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/icon/Favicon.png'%}">

    {% block css %}
    
    {% endblock %}

</head>