{% load static %}
<!-- Javascript -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/countto.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/shortcodes.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/plugin.js' %}"></script>

{% block js %}
    
{% endblock %}

<!-- Swiper slide -->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/swiper.js' %}"></script>